
@{
    ViewBag.Title = "Sobre nosotros";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Sobre nosotros</h2>
<div>
    <p>
        Proyecto de prueba para .NET FRAMEWORK
    </p>
    <p>
        <a href="mailto:nicoleal14h@gmail.com">Nicolas Leal: nicoleal14h@gmail.com</a>
    </p>
</div>
